<button (click)="loadCourse()">
  <div class="card mr-4">
    <div class="card-img-wrapper">
      <img class="card-img-top" [src]="course.photoUrl || './assets/course.png'" alt="Unable to load image"
        height="100">
    </div>
    <div class="card-body p-1">
      <strong class="card-text text-center"> {{course.courseName}} </strong>
      <small class="card-text text-center">{{course.teacherName}} </small>
      <p>{{course.courseDescription}}</p>
      <b>Students: {{course.studentsCount}}</b>
    </div>
  </div>
</button>
