.card:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.card img {
  transform: scale(1);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  opacity: 1;
  height: 100%;
  width: 100%;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.card {
  border: 2px;
  height: 300px;
  width: 300px;
  box-sizing: inherit;
  background-color: gray;
}

.card-body {
  padding: 0.5rem;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  height: 100%;
  width: 100%;

}

button {
  margin: 0.5rem;
  border: 0px solid;
  border-radius: 0.25rem;
}