<div class="container">
  <div *ngIf="!registerMode" style="text-align: center;">
    <p class="lead">Whether it's for professional development, personal growth, hobby or curiosity,<br> it's now easier
      than ever to get the knowledge.</p>
    <p>All you need is to connect</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg m-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn More</button>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let course of courses">
        <app-course-card [course]="$any(course)"></app-course-card>
      </div>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="flex-container">
      <div class="col-4">
        <p>
          <app-register [usersFromHomeComponent]="Users" (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </p>
      </div>
    </div>
  </div>
</div>