<footer class="text-center text-white">
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
            Contact Information
        </h6>
        <p>
            <i class="fa fa-envelope me-3"></i>yedroz@gmail.com
        </p>
        <p><i class="fa fa-phone me-3"></i>0505804224</p>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <p class="text-white">Yedidya Rozenberg</p>
    </div>
</footer>