<div class="wrapper">
    <ng-container *ngIf="TeacherMode">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Teacer Sidebar</h3>
                <h6>The course {{course.details?.courseStatus?"Active":"Deactive"}} </h6>
            </div>
            <ul>
                <li class="nav-item"><a
                        (click)="switchStatus()">{{course.details?.courseStatus?"Deactivate":"Activate"}} this
                        course</a>
                </li>
                <li class="nav-item">
                    <h6>Update details</h6>
                    <form (ngSubmit)="update()" #Form="ngForm">
                        <div class="form-group nav-link">
                            <label for="courseName">Course name</label>
                            <input type="text" class="form-control" id="courseName" name="courseName"
                                [(ngModel)]="updateForm.courseName" #courseName="ngModel"
                                [ngModelOptions]="{updateOn: 'submit'}">
                        </div>
                        <div class="form-group nav-link">
                            <label for="courseDescription">Course description</label>
                            <textarea class="form-control" id="courseDescription" name="courseDescription"
                                [(ngModel)]="updateForm.courseDescription" #courseDescription="ngModel"
                                [ngModelOptions]="{updateOn: 'submit'}">
                                {{course.details?.courseDescription}}
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>

                </li>
                <li><a [routerLink]="['/unit/new']" routerLinkActive="router-link-active">Add unit</a></li>
                <li><a (click)="toggleEditMode()">Edit unit</a></li>
                <li><a (click)="toggleRemoveMode()">Remove unit</a>
            </ul>
        </nav>
    </ng-container>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 main-col">
                    <a routerLinkActive="active" routerLink="/courses">
                        <h4 class="text-left">
                            <i class="fa fa-arrow-left"></i> Return to courses
                        </h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="bg-img" style="background-image:url({{course.details?.photoUrl}})">
                <img [src]="course.details?.photoUrl || './assets/course.png'">
            </div>
            <div class="col-sm-12 main-col">
                <div>
                    <h1 class="text-left">
                        {{course.details?.courseName}}
                    </h1>
                </div>
                <div>
                    <h4 class="text-left">
                        {{course.details?.courseDescription || "Demo course discraption"}}
                    </h4>
                </div>
                <div>
                    <h6 class="text-left">
                        Teach by {{course.details?.teacherName}}
                    </h6>
                </div>
            </div>
        </div>
        <strong *ngIf="editMode">Choose unit to edit</strong>
        <strong *ngIf="removeMode">Choose unit to remove</strong>
        <div class="row">
            <div class="card mr-4 col-12" *ngFor="let unit of course.units">
                <ng-container *ngIf="!removeMode; else remove">
                    <a routerLinkActive="active" routerLink="/unit/{{unit.unitID}}">
                        <strong class="card-text text-center"> {{unit.unitName}} </strong>
                    </a>
                </ng-container>
                <ng-template #remove>
                    <div class="card-body">
                        <strong class="card-text text-center"> {{unit.unitName}} </strong>
                        <button class="btn btn-danger" (click)="removeUnit(unit.unitID)">Remove</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>